.text-1 {
	font-size: 22px; 
	color: #222;
  }
  
  .text-2 {
	font-size: 14px; 
	color: #4a5568;
  }
  
  .img-1 {
	width: 18px;
	height: 23px;
  }
  
  .icon-wrapper {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around; 
	align-items: center; 
  }
  
  .icon-wrapper .icon {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	margin: 10px;
  }
  
  .icon-wrapper svg {
	margin-bottom: 5px; 
  }
  
  .icon-wrapper p {
	margin: 0; 
	font-size: 14px; 
	color: #4a5568; 
  }

  .icon-box {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	text-align: center;
  }


  .icon-box {
	display: inline-block;
	padding: 20px;
	margin: 10px;
	background-color: #f7f8f9; 
	border-radius: 8px; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	transition: box-shadow 0.3s ease; 
  }
  
  .icon-box:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  /* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
  
  @media (max-width: 768px) {
	.text-1 {
	  font-size: 18px; 
	}
  
	.text-2 {
	  font-size: 12px; 
	}
  
	.img-1 {
	  width: 16px; 
	  height: 20px;
	}
  
	.icon-wrapper {
	  flex-direction: column; 
	  align-items: flex-start; 
	}
  }
  
  @media (max-width: 480px) {
	.text-1 {
	  font-size: 16px; 
	}
  
	.text-2 {
	  font-size: 10px; 
	}
  
	.img-1 {
	  width: 14px; 
	  height: 18px;
	}
  
	.icon-wrapper {
	  margin: 0; 
	}
  }
  